/* All Common CSS Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    /* outline: 4px dotted #e67e22;
    outline-offset: 8px; */
    box-shadow: 0 0 0 .8rem #e67e22;
}

body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: #444;
    overflow-x: hidden;
}

html {
    /* Percentage of user's browser font size settings */
    font-size: 62.5%;
    overflow-x: hidden;
}

/* All Common CSS End */
/* Navbar & Hero Section Design Start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fae5d3;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.logo {
    height: 2.2rem;
}

.btn_mobile_nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.icon_mobile {
    font-size: 4.8rem;
    color: #cf711f;

}
.icon_mobile_close {
    font-size: 4.8rem;
    color: #cf711f;

}

.icon_mobile_close {
    display: none;
}

.section_hero {
    background-color: #fae5d3;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 130rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
    padding: 0 3.2rem;
}

.hero_feature_image {
    width: 100%;
}

.heading_primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.hero_description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
    background-color: #e67e22;
    font-size: 2rem;
    color: white;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}

.btn-full:link,
.btn-full:visited {
    background-color: #e67e22;
    color: white;
    transition: all .3s;
}

.btn-full:hover,
.btn-full:active {
    background-color: #cf711f;
    color: white;
}

.btn-outline:link,
.btn-outline:visited {
    background-color: white;
    color: #555;
}

.btn-outline:hover,
.btn-outline:active {
    background-color: #fae5d3;
    box-shadow: inset 0 0 0 3px white;
}

.margin-right-sm {
    margin-right: 1.6rem;
}

.delivered_meals {
    display: flex;
    margin-top: 8rem;
    align-items: center;
    gap: 1.6rem;
}

.delivered_images {
    display: flex;
}

.delivered_images img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid white;
}

.delivered_images img:last-child {
    margin: 0;
}

.delivered_text {
    font-weight: 600;
    font-size: 1.8rem;
}

.delivered_text span {
    color: #e67e22;
    font-weight: 700;
}

.main_nav_list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
}

.main_nav_link:link,
.main_nav_link:visited {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
    display: inline-block;
}

.main_nav_link:hover,
.main_nav_link:active {
    color: #cf711f;
}

.main_nav_link.nav_cta:link,
.main_nav_link.nav_cta:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: white;
    background-color: #cf711f;
}

.main_nav_link.nav_cta:hover,
.main_nav_link.nav_cta:active {
    background-color: #8a4c14;
}

/* Navbar & Hero Section Design End */
/* How it Work Section Design Start */
.section_how {
    padding: 9.6rem 0;
}

.container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
}

.grid {
    display: grid;
    row-gap: 9.6rem;
    column-gap: 6.4rem;
}

.grid_center_v {
    align-items: center;
}

.grid_2_cols {
    grid-template-columns: 1fr 1fr;
}

.step_image {
    width: 35%;
}

.heading_secondary {
    font-weight: 700;
    color: #333;
    letter-spacing: -.5px;
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
    text-align: center;
}

.sub_heading {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: .75px;
    text-align: center;
}

.step_number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.heading_tertiary {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
}

.step_description {
    font-size: 1.8rem;
    line-height: 1.8;
}

.step_image_box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.step_image_box::before {
    content: "";
    display: block;
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -2;
}

.step_image_box::after {
    content: "";
    display: block;
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -1;
}

/* How it Work Section Design End */
/* Feature Section Design Start */
.section_featured {
    padding: 4.8rem 0 3.2rem 0;
}

.heading_featured {
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
}

.logos {
    display: flex;
    justify-content: space-around;
}

.logos img {
    height: 3.2rem;
    filter: brightness(0%);
    opacity: .5;
}

/* Feature Section Design End */
/* Section Meal Design Start */
.section_meal {
    padding: 9.6rem 0;
}

.grid_col_3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.meal_image {
    width: 100%;
}

.meal_title {
    font-size: 2rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal_attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.meal_attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.meal_icon {
    font-size: 2.4rem;
    color: #e67e22;
}

strong {
    font-weight: 500;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #51cf66;
    border-radius: 100px;
    color: #333;
    font-weight: 600;
}

.meal_tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: .4rem;
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: .4s;
}

.meal:hover {
    transform: translate(0rem, -1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal_content {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag_paleo {
    background-color: orangered;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.list_item ion-icon {
    font-size: 3rem;
    color: #e67e22;
}

.list_item {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.margin_botom_md {
    margin-bottom: 4.8rem;
}

.all_recipes {
    text-align: center;
    font-size: 1.8rem;
}

.link:link,
.link:visited {
    display: inline-block;
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: all .5s;
}

.link:hover,
.link:active {
    color: #cf711f;
    border-bottom: 1px solid transparent;
}

.center_text {
    text-align: center;
}

/* Section Meal Design End */
/* Testimonial & Gallery Section Design Start */
.section_testimonial {
    display: grid;
    background-color: #fdf2e9;
    grid-template-columns: 55fr 45fr;
    align-items: center;
}

.testimonial_container {
    padding: 9.6rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4.8rem;
    column-gap: 8rem;
}

.testimonial_image {
    width: 6.4rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial_text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
}

.testimonial_name {
    font-size: 1.6rem;
    color: #6f6f6f;
}

.gallery_item img {
    display: block;
    width: 100%;
    transition: all .5s;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;
    padding: 1.6rem;
}

.gallery_item img:hover {
    transform: scale(1.1);
}

.gallery_item {
    overflow: hidden;
}

/* Testimonial & Gallery Section Design End */
/* Section pricing design Start */
.section_pricing {
    padding: 9.6rem 0;
}

.pricing_plan {
    background-color: #fdf2e9;
    border-radius: 11px;
    padding: 4.8rem;
    width: 75%;
}

.pricing_plan_starter {
    justify-self: end;
    background-color: white;
    border: 2px solid #fdf2e9;
    transition: all .5s;
    padding: 4.6rem;
}

.pricing_plan_starter:hover {
    transform: translateY(-2rem);
}

.pricing_plan_complete {
    transition: .5s;
    position: relative;
    overflow: hidden;
}

.pricing_plan_complete::after {
    content: 'Best Value';
    position: absolute;
    background-color: #cf711f;
    text-transform: uppercase;
    font-size: 1.4rem;
    top: 4%;
    right: -9%;
    transform: rotate(45deg);
    padding: .8rem 3.2rem;
    color: #333;
}

.pricing_plan_complete:hover {
    transform: translateY(-2rem);
}

.header_plan {
    text-align: center;
    margin-bottom: 4.8rem;
}

.plan_name {
    color: #cf711f;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .75;
    margin-bottom: 3.2rem;
}

.plan_price {
    font-size: 7.4rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
}

.plan_text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #6f6f6f;
}

.plan_price span {
    font-size: 3rem;
    font-weight: 500;
    margin-right: .8rem;
}

.plan_signup {
    text-align: center;
    margin-top: 4.8rem;
}

.grid_col_4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid:not(:last-child) {
    margin-bottom: 4rem;
}

.feature_icon {
    color: #e67e22;
    font-size: 3.2rem;
    margin-bottom: 3.2rem;
    background-color: #fae5d3;
    border-radius: 50%;
    padding: 1.6rem;
}

.feature_title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.6rem;
}

.feature_text {
    font-size: 1.8rem;
    line-height: 1.8;
}

.plan_deatils {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 7rem;
}

/* Section pricing design End */
/* Section Call to Action Part Design Start */
.section_cta {
    padding: 9.6rem 0;
}

.cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #e67e22;
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    overflow: hidden;
}

.cta_image_box {
    background-image: url('../image/cta_image.jpg');
    background-size: cover;
    background-position: center;
    opacity: .7;
}

.cta_text_box {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    color: #2e1907;
}

.cta .heading_secondary {
    color: #2e1907;
    margin-bottom: 3.2rem;
    text-align: left;
}

.cta_text {
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 4.8rem;
}

.cta_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
}

.cta_form label {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.cta_form input,
.cta_form select {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.8rem;
    font-family: inherit;
    border: none;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    color: inherit;
}

.cta_form input::placeholder {
    color: #aaa;
}

.btn {
    background-color: White;
    font-size: 2rem;
    color: black;
    padding: 1.3rem 3.2rem;
    border-radius: 9px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-family: inherit;
    transition: all .5s;
    align-self: end;
}

.btn:hover {
    background-color: #cf711f;
}

.cta *:focus {
    outline: none;
    /* outline: 4px dotted #e67e22;
    outline-offset: 8px; */
    box-shadow: 0 0 0 .8rem #e67e22;
}

/* Section Call to Action Part Design End */
/* Footer Section Design Start */
.footer {
    padding: 9.6rem 0;
    border-top: 1px solid #eee;
}

.grid_col_5 {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer_heading {
    font-size: 1.8rem;
    
    font-weight: 500;
    margin-bottom: 4rem;
}

.footer_nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.footer_nav a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #777;
    transition: .3s;
}

.footer_nav a:hover {
    color: #cf711f;
}

.footer_logo {
    display: block;
    margin-bottom: 3.2rem;
}

.social_icon {
    font-size: 2.4rem;
    color: gray;
}

.copyright {
    font-size: 1.4rem;
    color: gray;
    line-height: 1.6;
    margin-top: auto;
}

.social_links {
    display: flex;
    list-style: none;
    gap: 2.4rem;
}

.logo_column {
    display: flex;
    flex-direction: column;
}

.phone,
.email_omni {
    text-decoration: none;
    font-size: 1.6rem;
    color: #777;
    transition: .3s;
}

.contacts {
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.address {
    margin-bottom: 2.4rem;
    line-height: 1.6;
}

/* Footer Section Design End */

/* Responsive Design Start for Small Laptop */
/* Below 1344px Smaller Desktop */

@media(max-width: 84em) {
    .hero {
        max-width: 120rem;
    }

    .heading_primary {
        font-size: 4.4rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.6rem;
        padding: 1.6rem;
    }
}

/* Below 1200px Laptop */
@media(max-width: 75em) {
    html {
        font-size: 56.25%;
    }

    .heading_secondary {
        font-size: 3.6rem;
    }

    .heading_tertiary {
        font-size: 2.4rem;
    }

    .grid {
        column-gap: 4.8rem;
        row-gap: 6.4rem;
    }

    .header {
        padding: 0 3.2rem;
    }

    .hero {
        gap: 4.8rem;
    }

    .main_nav_list {
        gap: 3.2rem;
    }

    .testimonial_container {
        padding: 5rem 3.2rem;
    }
}

/* Below 900px  */
@media(max-width: 57em) {
    html {
        font-size: 50%;
    }

    .hero {
        grid-template-columns: 1fr;
    }

    .hero_feature_image {
        width: 60%;
    }

    .hero {
        text-align: center;
    }

    .delivered_meals {
        justify-content: center;
        margin-top: 5rem;
    }

    .logos img {
        height: 2.4rem;
    }

    .section_testimonial {
        grid-template-columns: 1fr;
    }

    .gallery {
        grid-template-columns: repeat(6, 1fr);
    }

    .cta {
        grid-template-columns: 60fr 40fr;
    }

    .cta_form {
        grid-template-columns: 1fr;
    }

    .btn {
        margin-top: 2rem;
    }

    .btn_mobile_nav {
        display: block;
    }

    .main-nav {
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all .5s;
        pointer-events: none;
        visibility: hidden;
        transform: translateX(100%);

    }
    .nav_open .main-nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
    .nav_open .icon_mobile_close {
    display: block;
    }
    .nav_open .icon_mobile {
    display: none;
    }

    .main_nav_list {
        flex-direction: column;
        gap: 4.8rem;

    }

    .main_nav_link:link,
    .main_nav_link:visited {

        font-size: 3rem;
    }
}
/* Below 704px */
@media(max-width: 44em){
    /* html{
        font-size: 40%;
    } */
    .grid_col_3,
    .grid_col_4 {
        grid-template-columns: repeat(2,1fr);
    }
    .diets{
        justify-self: center;
        grid-column: 1 / -1;
    }
    .pricing_plan{
        width: 100%;
    }
    .grid_col_5 {
    grid-template-columns: repeat(6, 1fr);
    }
    .nav_col{
        grid-row: 1;
        grid-column: span 2;
    }
    .logo_column, .address_column{
        grid-column: span 3;
    }
}
/* Below 554px */
@media(max-width: 34em){
    .grid_2_cols, .grid_col_3, .grid_col_4{
        grid-template-columns: 1fr;
    } 
    .hero{
        padding: 0 1.5rem;
    }
    .logos img{
        height: 1.5rem;
    }
    .step_image_box:nth-child(2){
        grid-row: 1;
    }
    .step_image_box:nth-child(6){
        grid-row: 5;
    }
    .testimonials{
        grid-template-columns: 1fr;
    }
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
    .cta{
        grid-template-columns: 1fr;
    }
    .cta_image_box{
        height: 32rem;
        grid-row: 1;
    }
    .cta_text_box{
        padding: 3.2rem;
    }
}

/* Responsive Design End for Small Laptop */